
body{
    background: url(../img/Frutas.jpg);
}

.letra-azul {
    margin: 30px 0;
    font-size:3rem;
    font-family: 'Dosis', sans-serif;
    color: rgb(25, 13, 184);
}

.titulo-oscuro {
    font-weight: bold;
}

